
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	/*outline: 1px solid red;*/
	
}
body{
	background-image: url(../img/bg.jpg);
}
a{
	display: inline-block;
	text-decoration: none;
	color:#444;
}
.wrap{
	font-family: font-family: "微軟正黑體","Microsoft JhengHei";
	width: 100%;
	height: auto;
	font-size: 0;
}


.title_line{
	display: block;
	width: 3%;
	margin:auto;
	border: 1px solid #e8ba74;
}


.title_h1{
	width: 100%;
	font-size: 24px;
	text-align: center;
	letter-spacing: 3px;
	color:#444;
	font-weight: bold;
	line-height: 48px;
	margin-top:30px ;
	margin-bottom: 10px;
	position: relative;

}

.item .active span{
	display: block;
		width: 100%;
		height: 3px;
		margin-top: 4px;
		background-color: #E8BA74;
		opacity: 1;
	
}


@media screen and (min-width:768px) {

.title_line{
	display: block;
	width: 2%;
	margin:auto;
	border: 1px solid #e8ba74;
}


.title_h1{
	width: 100%;
	font-size: 28px;
	text-align: center;
	letter-spacing: 5px;
	color:#444;
	font-weight: bold;
	line-height: 56px;
	margin-top:80px ;
	margin-bottom: 30px;
	position: relative;

}
	
}

/*-----------共用設定--------------*/


/*-----------nav  start-------------*/
.nav{
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding:5px 0;
	/*background-image: linear-gradient(90deg,rgba(230,230,230,.8) 0%,rgba(0,0,0,.5) 40%,rgba(0,0,0,.5) 100%);*/
}
.logo{
	width: 20%;
	min-width: 80px;
}
.logo img{
	width: 100%;

	
}
/*.item{
	width: 80%;
	display: flex;
	justify-content: center;

}
.item ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: auto;


}

.item a{
	font-size: 18px;
	color:#444;
	font-weight: bold;
}
*/

.btn{
	width: 30px;
	height: 30px;
	border:1px solid transparent;
	position: relative;
	cursor: pointer;
}
.line_1,
.line_2{
	display: block;
	width: 90%;
	height: 2px;
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	top:5px;
	margin: auto;
}
.line_2{
	top:22px;
	box-shadow: 0px -8px  #000;
}
.fixed{
	width: 100%;
	position: fixed;
	z-index: 999;
	background-color: rgba(250,250,250,.9);
}
/*----------------nav media----------------*/
@media screen and (min-width:768px) {
	.fixed{
		background-color: rgba(0,0,0,0);
		background-image: linear-gradient(90deg,rgba(230,230,230,.8) 0%,rgba(0,0,0,.5) 40%,rgba(0,0,0,.5) 100%);
	}

	.nav{
		width: 100%;

	}
	.logo{
		width: 20%;
		max-width: 150px;
	}
	.logo img{
		width: 100%;

	}
	.item{
		width: 55%;
		display: flex;
		justify-content: center;

	}
	.item ul{
		width: 100%;
		display: flex;
		justify-content: space-around;
		margin: auto;


	}

	.item a{
		font-size: 20px;
		letter-spacing: 5px;
		color:#fff;
		font-weight: bold;
	}
	.item span{
		display: block;
		width: 100%;
		height: 3px;
		margin-top: 4px;
		background-color: #E8BA74;
		opacity: 0;
		transition: .4s;

	}

	.item li:hover span{
		opacity: 1;
	}

}


/*------nav  end------------------*/





/*---------------hurger  start---------------*/
.burger{
	width: 100%;
	display: none;
	background-image: linear-gradient(0deg,rgba(222,186,116,.4) 0%,rgba(0,0,0,.0) 100%);
	
}
.burger ul{
	width: 100%;

}
.burger li{
	width: 80%;
	margin: auto;

}
.burger a{
	width: 100%;
		font-size: 20px;
		letter-spacing: 5px;
		color:#444;
		font-weight: bold;
		line-height: 40px;
		text-align: center;
}
/*.burger span{
	display: block;
	width: 100%;
	border:1px solid #e8ba74;
	
}*/



/*---------------hurger  end---------------*/




/*----------banner start--------------*/
.banner{
	width: 100%;
	height: 0;
	padding-bottom: 20%;
	position: relative;
	padding-top: 20%;
	margin-bottom: 5%;
}
.banner_pic{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	/*background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/photo-1506094898237-719a84070f2c.jpg);
	background-attachment: fixed;
	*/
}
.banner_pic img{
	width: 100%;
}


.title{
	width: 40%;
	height: 50px;
	border-radius: 3%;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	right: 0;
	left: 0;
	margin:auto;
	top:45%;
	
}
.title h1{
	font-size: 22px;
	color:#fff;
	text-align: center;
	line-height: 50px;
	letter-spacing: 3px;
}




@media screen and (min-width:768px) {

	.banner{
		margin-bottom: 8%;
	}


	.title{
	width: 20%;
	height: 100px;
	border-radius: 3%;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	right: 0;
	left: 0;
	margin:auto;
	top:50%;
	transform: scaleX(0);
	animation:title 2s 0.5s forwards;
	
}
.title h1{
	font-size: 36px;
	color:#fff;
	text-align: center;
	line-height: 100px;
}

@keyframes title{
	0%{transform: scaleX(0);}
	100%{transform: scaleX(1);}
}
}
/*-----------banner   end--------------------*/





/*---------product_item start----------------*/


.product{
	width: 100%;

}
.product_item{
	width: 100%;
	position: relative;
	z-index: 1;
}
.poduct_item ul:after{
	content: "";
	display: block;
	clear: both;
}
.product_item li{
	float:left;
	width: calc(100% / 3);
}


.product_item a{
	width: 100%;
	font-size: 16px;
	color: #444;
	text-align: center;
	letter-spacing: 3px;
	margin:2px;
	border:1px solid #97c2c2;
	line-height: 32px;
}
/*.product_item li span{
	display: block;
	font-size: 12px;
	color:#bbb;
	/*line-height: 20px;
	text-align: left;
}*/

/*-------product_item media-----------------*/

@media screen and (min-width:768px) {

	.product{
		display: flex;
		justify-content: center;
		margin-top:80px ;
	
	}
	.product_pic>p{
		font-size: 16px;
		letter-spacing: 3px;
		line-height: 32px;
		/*font-weight: bold;*/
		color:#888;
	}
	.product_item{
		width: 15%;
	}
	.product_item ul li{
		width: 90%;
		float: none;
		margin-bottom: 10px;
		position: relative;
	}
	.category{
		width: 100%;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 2px;
		margin-bottom: 10px;
		color:#bbb;
		border-bottom: 1px solid #ccc;
		
	}
	.product_item li:before{
		content:'';
		display: inline-block;
		width: 5px;
		height: 35px;
		background-color: #97c2c2;
		position: absolute;
		left: 0;
		bottom: 0;
		transition: 0.4s;
		opacity: 0;

	}
	.product_item .active:before{
		content:'';
		display: inline-block;
		width: 5px;
		height: 35px;
		background-color: #97c2c2;
		position: absolute;
		left: 0;
		bottom: 0;

	}
	.product_item li:hover:before{
		opacity: 1;
	}

	.product_item a{
		text-align: left;
		margin-left: 10px;
		border:none;
	}
/*	.product_item li span{
		display: block;
		font-size: 12px;
		color:#bbb;
		letter-spacing: 0;
		line-height: 16px;
	}*/
	

}

/*--------.product_item end-----------*/



/*----------product_pic start---------------*/
 .product_pic{
 	width: 100%;
 
 }

 .product_pic p{
 	width:100%;
 	text-align: center;

 }

 .product_category{
 	background-color: #fff;
 	margin:0 auto 20px auto;
 	width: 90%;
 	position: relative;
 	
 }
 .product_category img{
 	width:100%;
 	vertical-align: top;
 }

 .product_category h2{
	font-size: 22px;
	text-align: center;
	letter-spacing: 3px;
	line-height: 44px;
	font-weight: bold;
	color:#fff;
 }
 .product_category p{
 	width: 100%;
	font-size: 16px;
	text-align: center;
	line-height: 32px;
	letter-spacing: 3px;
	color:#fff;
 }
 .product_txt{
 	width: 100%;
 	background-color:#97c2c2;
 	position: absolute;
 	bottom: 0;
 	left: 0;
 
 	

 }
/*----------product_pic media---------------*/

@media screen and (min-width:768px) {

		.product_pic{
			width: 65%;	
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
	}
				

	.product_category{
	width: 49%;
	margin-top: 25px;
	transition: 0.4s;
	position: static;
	}
	 .product_pic p{
 	width:100%;
 	text-align: center;
 }
	
	.product_category:hover{
		
		border-radius: 15px;
		box-shadow: 1px 1px 6px 0.6px #888;
		

	}

	.product_category img{
		padding:10px;
		border-radius: 20px;
	}
	.product_category h2{
		width: 100%;
		font-size: 18px;
		color:#444;
		
	}
	.product_category p{
	
		color:#444;
	
	}

	.product_category.none{
		visibility: hidden;
	}
	
	.product_txt{
		background-color: #fff;
		position: static;
		border-radius:  0 0 15px 15px;
	}
}

@media screen and (min-width:992px) { 

	.product_category{
	width: 32%;
	}
	
	


}


/*----------product_pic end---------------*/

/*------------footer  start------------------*/

.footer{
	margin-top: 5%;
	width: 100%;
	padding: 3% 0;
	background-image: url(../img/333ff4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	

}
.footer_content{
	width: 100%;
	margin:auto;
	

}

.footer_txt{
	width: 100%;
	padding:3%;
}
.footer_txt p{
	font-size: 16px;
	letter-spacing: 3px;
	line-height: 32px;
	color:#fff;

}
.email{
	width: 100%;
	padding:3%;
}

.email h3{
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 3px;
	line-height: 32px;
	color:#fff;
}
.email p{
	font-size: 16px;
	letter-spacing: 3px;
	line-height: 32px;
	color:#fff;
}
.email .e_txt{
	width: 300px;
	line-height: 32px;
}
.submit{
	display: inline-block;
	width: 60px;
	line-height: 32px;
	margin-left: 1%;
}














@media screen and (max-width:575px) {

}

@media screen and (min-width:576px) {

}


@media screen and (min-width:768px) {


}

@media screen and (min-width:992px) { 
	
.footer_content{
	width: 80%;
	margin:auto;
	display: flex;
	flex-wrap: wrap;

}

.footer_txt{
	width: 50%;
	padding:0;
}

.email{
	width: 50%;
	padding:0;
}



.email .e_txt{
	width: 40%;
	line-height: 32px;
}
.submit{
	
	width: 15%;
	
}



}

@media screen and (min-width:1200px) {



} 

